<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BMA-EMS ERAWAN - DEMO</title>

   <!-- Bootstrap CSS  -->
	<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
      	th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
      	rel="stylesheet" media="screen" />
      
     

    <!-- MetisMenu CSS -->
    <link href="../bower_components/metisMenu/dist/metisMenu.min.css" th:href="@{webjars/metisMenu/1.1.3/metisMenu.min.css}" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="../dist/css/timeline.css" th:href="@{/static/css/timeline.css}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" th:href="@{/static/css/sb-admin-2.css}" rel="stylesheet">
     <link href="../dist/css/main.css" th:href="@{/static/css/main.css}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../bower_components/morrisjs/morris.css" th:href="@{webjars/morrisjs/0.5.1/morris.css}" rel="stylesheet">

    <!-- Font Awesome  -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
		th:href="@{/webjars/font-awesome/4.3.0/css/font-awesome.min.css}" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">เกณฑ์การคัดแยกผู้ป่วย</h3>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <form role="form" id="formView">
            	<div class="col-md-12">
					<div class="form-group" id="basicSymtomp">
					
					</div>
            	</div>
            	<div class="col-md-12" id="step1"></div>
            	<div class="col-md-12" id="step2"></div>
            	<div class="col-md-12" id="step3"></div>
            	<div class="col-md-12" id="step4"></div>
            	<div class="col-md-12" id="step5"></div>
            	<div class="col-md-12" id="step6"></div>
            	<div class="col-md-12" id="step7"></div>
            	<div class="col-md-12" id="step8"></div>
            	<div class="col-md-12" id="step9"></div>
            	</form>
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->


	<!-- Handlebars template -->
	
	<script  id="basicSymtopTemplate" type="text/x-handlebars-template">
		<label>ระบุอาการเบื้องต้น</label>
		<input class="form-control" id="basicSymTxt" type="text"></input>
	</script>
	
	<script  id="step1Template" type="text/x-handlebars-template">
		<div class="form-group">
			<label>ความรู้สึกตัวของผู้ป่วย</label>
			<div class="radio">
				<label>
					<input id="optionsRadios1" type="radio" value="option1" name="optionsRadiosStep1">ไม่รู้สึกตัว
				</label>
			</div>
			<div class="radio">
				<label>
					<input id="optionsRadios2" type="radio" value="option2" name="optionsRadiosStep1">รู้สึกตัว
				</label>
			</div>
		</div>
	</script>
	
	<script  id="step2Template" type="text/x-handlebars-template">
		<div class="form-group">
			<label>ตบไหล่และปลุกเรียก</label>
			<div class="radio">
				<label>
					<input id="optionsRadios1" type="radio" value="option1" name="optionsRadiosStep2">ยังคงไม่รู้สึกตัว
				</label>
			</div>
			<div class="radio">
				<label>
					<input id="optionsRadios2" type="radio" value="option2" name="optionsRadiosStep2">พอรู้สึกตัว
				</label>
			</div>
		</div>
	</script>
	<script  id="step3Template" type="text/x-handlebars-template">
		<div class="form-group">
			<label>ลักษณะการหายใจ</label>
			<div class="radio">
				<label>
					<input id="optionsRadios1" type="radio" value="option1" name="optionsRadiosStep3">พูดได้แค่ประโยคสั้นๆ/ติดขัด
				</label>
			</div>
			<div class="radio">
				<label>
					<input id="optionsRadios2" type="radio" value="option2" name="optionsRadiosStep3">ซี่โครงบาน/จมูกบาน/ไหปลาร้ายุบ
				</label>
			</div>
			<div class="radio">
				<label>
					<input id="optionsRadios2" type="radio" value="option3" name="optionsRadiosStep3">หายใจมีเสียงดัง
				</label>
			</div>
			<div class="radio">
				<label>
					<input id="optionsRadios2" type="radio" value="option4" name="optionsRadiosStep3">ต้องลุกขึ้นนั่ง/ยืนเพื่อให้หายใจได้ดีขึ้น
				</label>
			</div>
			<div class="radio">
				<label>
					<input id="optionsRadios2" type="radio" value="option5" name="optionsRadiosStep3">ตัวซีดและเหงื่อท่วมตัว
				</label>
			</div>
			<div class="radio">
				<label>
					<input id="optionsRadios2" type="radio" value="option6" name="optionsRadiosStep3">หายใจเร็ว
				</label>
			</div>
			<div class="radio">
				<label>
					<input id="optionsRadios2" type="radio" value="option7" name="optionsRadiosStep3">หายใจ/พูดได้ปกติ
				</label>
			</div>
		</div>
	</script>
	<script  id="step4Template" type="text/x-handlebars-template">
		<div class="form-group">
			<label>ผู้ป่วยมีโรคหอบหืดหรือไม่</label>
			<div class="radio">
				<label>
					<input id="optionsRadios1" type="radio" value="option1" name="optionsRadiosStep4">มี
				</label>
			</div>
			<div class="radio">
				<label>
					<input id="optionsRadios2" type="radio" value="option2" name="optionsRadiosStep4">ไม่มี
				</label>
			</div>
		</div>
	</script>
	<script  id="step5Template" type="text/x-handlebars-template">
		<div class="form-group">
			<label>ผู้ป่วยอายุเท่าไร</label>
			<div class="radio">
				<label>
					<input id="optionsRadios1" type="radio" value="option1" name="optionsRadiosStep5">มากกว่า 20 ปี
				</label>
			</div>
			<div class="radio">
				<label>
					<input id="optionsRadios2" type="radio" value="option2" name="optionsRadiosStep5">น้อยกว่า 20 ปี
				</label>
			</div>
		</div>
	</script>

<script  id="resultTemplate" type="text/x-handlebars-template">
	<span style="color:{{color}}"><i class="fa fa-flag"></i> {{code}}</span>
</script>

    <!-- jQuery -->
    <script src="../bower_components/jquery/dist/jquery.min.js" th:src="@{webjars/jquery/2.1.3/jquery.min.js}"></script>

    <!-- Bootstrap Core JavaScript -->
  	<script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/js/bootstrap.js"
        th:src="@{/webjars/bootstrap/3.3.4/js/bootstrap.js}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../bower_components/metisMenu/dist/metisMenu.min.js" th:src="@{webjars/metisMenu/1.1.3/metisMenu.min.js}"></script>

    <!-- Morris Charts JavaScript -->
    <script src="../bower_components/raphael/raphael-min.js"  th:src="@{webjars/raphaeljs/2.1.2/raphael-min.js}"></script>
    <script src="../bower_components/morrisjs/morris.min.js" th:src="@{webjars/morrisjs/0.5.1/morris.min.js}"></script>

	<!-- twitter bootstrap typeahead -->
	<script th:src="@{webjars/typeaheadjs/0.10.5-1/typeahead.bundle.min.js}"></script>
	
	<script type="text/javascript" th:src="@{/webjars/underscorejs/1.6.0/underscore-min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/backbonejs/1.1.2/backbone-min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/handlebars/3.0.0-1/handlebars.min.js}"></script>
	

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js" th:src="@{/static/js/sb-admin-2.js}"></script>

 	<script src="../dist/js/index.js" th:src="@{/static/js/index.js}"></script>
 	<script type="text/javascript">
 	var formView = new FormView({el: "#formView"});

 	$(document).ready(function() {
 		formView.render();
 	});	
 	
 	
 	</script>
</body>

</html>
